.list-projects-container {
  width: 100%;
  display: flex;
  flex-direction: column;

}


.list-projects-content {
  display: flex;
  flex-direction: column;
  width: 100%;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  &-table {
    background-color: #fff;
    border-radius: 10px;
  }
}


.listprojects {
  background-color: navy;
  color: #fff;
}