.list-projects-container {
  width: 100%;
  display: flex;
  flex-direction: column;

}


.list-projects-content {
  display: flex;
  flex-direction: column;
  width: 100%;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  &-table {
    background-color: #fff;
    border-radius: 10px;
  }
}

.table-options-buttons {
  display: flex;
  gap: 0.7rem;
}

.icons-table {
  border: none;
  color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.preview {
  background-color: #1aa1b9;
  padding: 0.4rem;

}

.edit {
  background-color: #fec000;
  padding: 0.4rem;

}

.delete {
  background-color: #D43944;
  padding: 0.4rem;
}

.treding {
  background-color: #0179FE;
  padding: 0.4rem;
}

.listprojects {
  background-color: navy;
  color: #fff;
}

