.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    font-family: New Order;
    h1 {
        color: rgba(#1D7882, 0.6);
        font-family: New Order;
        font-size: 2rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.01rem;
    }
}