/* src/components/LayoutDashboard/_layoutDashboard.scss */
.layout-dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout-dashboard-content {
  flex: 1;
  padding: 20px;
  background-color: #f5f5f5; // Adjust based on your design
}
