/* src/components/LayoutDashboard/_layoutDashboard.scss */
.layout-dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout-dashboard-content {


  padding: 1rem;

}
