.form-client-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;

  &-title {
    display: flex;
    width: 100%;

    & h2 {
      font-family: New Order;
      padding: 1rem;
      font-size: 1.5rem;
    }
  }

  &-body {
    width: 100%;
    display: flex;
    flex-direction: column;

    &-PJ {
      width: 100%;
      display: flex;
      flex-direction: column;

      &-title {
        width: 100%;
        display: flex;

        & h2 {
          font-family: New Order;
          padding: 1rem;
          font-size: 1rem;
        }
      }

      &-inputs {
        display: flex;
        gap: 1rem;
        padding: 0rem 1rem;
      }
    }

    &-address {
      width: 100%;
      display: flex;
      flex-direction: column;

      &-title {
        width: 100%;
        display: flex;

        & h2 {
          font-family: New Order;
          padding: 1rem;
          font-size: 1rem;
        }
      }

      &-inputs {
        display: flex;
        gap: 1rem;
        padding: 0rem 1rem;
      }
    }

    &-contacts {
      width: 100%;
      display: flex;
      flex-direction: column;

      &-title {
        width: 100%;
        display: flex;

        & h2 {
          font-family: New Order;
          padding: 1rem;
          font-size: 1rem;
        }
      }

      &-inputs {
        display: flex;
        gap: 1rem;
        padding: 0rem 1rem;
      }
    }

    &-footer {
      // width: 100%;
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
      padding: 1rem 1rem;
    }
  }
}

.voltar {
  background-color: #E43425;
  color: #fff;
}

.aceitar {
  background-color: #004E64;
  color: #fff;
}